*{
    margin:0px;
    padding: 0px;
    font-size:20px;
}

ul{
    list-style: none;
    height:50px;
    border-bottom:5px solid coral;
    padding-left: 70px;
}

li{
    float:left;
    margin-top: 20px;
}

a{
    text-decoration: none;
    display:block;
    height: 30px;
    width: 120px;
    background-color: #FF9999;
    line-height: 30px;
    margin-bottom: 1px;
    color:grey;
    text-align: center;
    margin-right: 1px;
    border-radius:4px 4px 3px 3px;    //圆角
}

.on, a:hover{
    color:white;
    background-position:0 30px;
}