*{
    margin:0px;
    padding: 0px;
    font-size:20px;
}

ul{
    list-style: none;
}

li{
    float:left;
}

a{
    text-decoration: none;
    display:block;
    height: 30px;
    width: 120px;
    background-color: #FF9999;
    line-height: 30px;
    margin-bottom: 1px;
    color:grey;
    text-align: center;
    margin-right: 1px;
}

a:hover{
    background-color: coral;
    color:white;
}